:root {
    --primary-color:#1248DE;
    --secondary-color: #001952;
    --body-font:'Familjen Grotesk', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px 0px;
  }

.navbar, .offcanvas {
    background: var(--primary-color);
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--primary-color));  
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
    color: white;
    padding-top: 0%;
  }
  
  .logo-image{
    width: 150px;
  height: 100px;
  background-image: url("Images/logo.png");
  background-color: var(--primary-color);
  background-blend-mode: lighten;
  }
  body{
    font-family: var(--body-font);
 }

 .whole{
  margin: 5px 15px;
  border: 10px solid black;
  border-radius: 10px;

 }
 .first-section{
  background: var(--primary-color);
  color: white;
  padding-left: 50px;
  padding-top: 0%;
 }
 h1,h2,.first-paragraph{
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
 }

 h1{
  font-size: 41px;
  line-height: 47px;
 }

 h2{
  font-size: 12px;
  line-height: 19px;
  margin-top: 5px;
 }

 .first-paragraph,div{
  font-size: 16px;
  line-height: 24px;
 }

.second-section{
  text-align: left;
  padding-top: 70px;
  padding-left: 350px;
  background-color: #E5E5E5;
}

.second-paragraph{
font-weight: 400;
font-size: 24px;
line-height: 24px;
color: black;
font-style: normal;
}
h3{
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-style: normal;
  margin-bottom: 0%;
}
div{
  font-weight: 400;
  font-style: normal;
  color: #9e9ea7;
}
.fa-quote-left{
  margin-left: -30px;
  color: var(--primary-color);
}
.fa-circle-arrow-left,.fa-circle-arrow-right{
font-size: 30px;
position: relative;
color:#9e9ea7;
}
.fa-circle-arrow-right{
left: 900px;
top: -50px;
}
.fa-circle-arrow-left{
  left: 863px;
  top: -140px;
}
.arrow-1{
  color:#4570e9;
  padding-bottom: 25px;
}

.fa-circle-chevron-right{
  font-size: 50px;
  color: white;
  opacity: 35%;
  margin-top: 70px;
}

.arrow-2{
  color:white;
  font-size: 20px;
  opacity: 25%;
  margin-top: 100px;
  margin-bottom: 10px;
}
.mobile-section,.mobile-section-2{
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.mobile-section{
  font-size: 12px;
  color: white;
  opacity: 55%;
  margin-bottom: 0;
}
.mobile-section-2{
  font-size: 15px;
  color: white;
  margin-top: 0;
}
.third-section{
  text-align: left;
  padding-top: 50px;
  background-color: var(--secondary-color);
}

.third-paragraph{
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  font-style: normal;
  color: white;
  padding-left: 350px;
  padding-top: 70px;
  }

.continuation{
  color: yellow;
}

.last-paragraph{
font-weight:100;
font-size: 12px;
line-height: 20px;
font-style: normal;
color: white;
position: absolute;
bottom: -650px;
right: 50px;
}

hr {
  display: block;
  margin-top: 150px;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 30px;
  border-style: inset;
  border-width: 1px;
  color: white;
}

.last-image{
  width: 150px;
  height: 200px;
  background-image: url("Images/image-3.jpg");
  background-color: var(--primary-color);
  background-blend-mode: lighten;
  }

 @media (max-width:600px) {
  .mobile-view{
    width: 95%;
  }
.body-image{
  display: none;
}
.first-section{
  padding-right: 40px;
}
.second-section, .third-section{
  display: none;
}
.arrow-1{
 display: none;
}
 }

 @media (min-width:600px) {
  .mobile-view{
    display: none;
  }
  
 }